{% extends "base.html" %}
{% block title %}Check Arrivals{% endblock %}

{% block content %}
<h4 class="p-4 fw-lighter uppercase">List of Arrivals</span>
</h4>
<div class="col p-4">
    <label for="arrivals_name">Search List of Arrivals:</label>
    <input id="arrivals_name" type="text" placeholder="Search here"/>
</div>
<hr>
<div class="p-4">
    <table class="table p-t-4 m-t-4">
        <thead>
        <tr>
            <th scope="col">Attendee</th>
            <th scope="col">Time of Arrival</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for arrival in arrival_list %}
        <tbody id="arrivals_list">
        <tr>
            <td>{{ arrival.attendee }}</td>
            <td>{{arrival.arrival|date:"d. F Y"}} at {{arrival.arrival|time:"H:i"}}</td>
            <td><a class="btn btn-body p-l-4"
                   href="{% url 'arrival' pk=arrival.pk %}">View
            </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#arrivals_name").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#arrivals_list tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });</script>
{% endblock %}