{% extends "base.html" %}
{% block title %}Add Attendee{% endblock %}

{% block content %}
<form id="attendee_add_form" action="{% url 'attendee_add'%}" method="POST">
    {% csrf_token %}
    <h4 class="p-4 fw-lighter uppercase">Add Attendee</h4>
<hr>
    <div class="row g-3 p-4">
        <div class="row g-3">
            <div class="col-md-4 fw-light">
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="col-md-4 fw-light">
                {{ form.surname.errors }}
                {{ form.surname.label_tag }}
                {{ form.surname }}
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4  pb-2 fw-light">
                {{ form.birth_date.errors }}
                {{ form.birth_date.label_tag }}
                {{ form.birth_date }}
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4  pb-2 fw-light">
                {{ form.ticket_id.errors }}
                {{ form.ticket_id.label_tag }}
                {{ form.ticket_id }}
            </div>
        </div>
    </div>
    <div class="col-12 p-4">
        {{ form.non_field_errors }}
        <button type="submit" name="submit" class="btn btn-body">Submit</button>
    </div>

</form>

{% endblock %}